body {
  background-color: #1f2221;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 0.8em;
  overflow: auto;
  background-color: white;
  color: black;
  max-width: 1024px;
  margin: 0 auto;
}
            
  #dark-mode {
    background-color: black;
    color: white;
  }

h1{
    text-align: center;
    padding-left: 5%;
    color: #961e1a;
    text-shadow: 0 0 0.2em #a3a3a3;
}

#calcbutton {
    font-size: 40px;
    color: #961e1a;
}

#h1 {
  color:#961e1a;
}

#wrapper {
 max-width:1024px;
 min-width:320px;
 margin:0 auto;
 background:rgb(197, 138, 138);
}